<template>  
        <section>
            <ul>
                <li v-for="producto in productos">
                    {{ producto.nombre }} - 
                    <small>{{ producto.precio.toFixed(2) }} €</small>
                    <button @click="eliminarProducto(producto.precio)">-</button>
                    <button @click="anadirProducto(producto.precio)">+</button>
                </li>
            </ul>
        </section>
</template>
<script>
export default {
   props: ['productos'],
    methods: {
        anadirProducto(precio){
            eventBus.$emit('anadir', precio);
            console.log(eventBus);
        },
        eliminarProducto(precio) {
            eventBus.$emit('eliminar', precio);
        },
    }
}
</script>

   