<template>
  <div class="grid-x grid-padding-x text-center grid-margin-x" data-equalizer data-equalize-on="small" >
    <div class="small-6 cell"><button data-equalizer-watch class="button radius bordered shadow large  warning" :class="{ disabled: enableBack < 1 }"  @click="PrevQuestion"> Atras </button></div>
    <div class="small-6 cell"><button data-equalizer-watch class="button radius bordered shadow large success" @click="NextQuestion"> Siguiente <br> (Tecla Enter)</button></div>


  </div>
</template>

<script>
export default {
  data () {
    return {
      source: 'http://loremflickr.com/80/80'
    };
  },
    mounted () {
       if(this.$store.state.currentQuestion == 0){ 
        return this.$router.push("/");
      };
      document.addEventListener("keydown", (e) => {
        if (e.keyCode == 8) { this.PrevQuestion(); }
        if (e.keyCode == 13) { this.NextQuestion(); }
        
      });
    },
  computed:{ 
    enableBack() {
      if (this.$store.state.currentQuestion > 0) {
        return true;
      }
      else {
        return false;
      }
    },
  },
  methods:{
    NextQuestion() {
      var route = "/Q"+ this.$store.state.currentQuestion++;
       return this.$store.state.currentQuestion = this.$store.state.currentQuestion++;

      // return this.$router.push(route);
    },
     PrevQuestion() {
        if(this.$store.state.currentQuestion == 0){
          return false;
        }
        else {
          var route = "/Q"+ this.$store.state.currentQuestion--;
          this.$store.state.currentQuestion = this.$store.state.currentQuestion--;
          
          return this.$router.push(route);
        }
      }
  },
   
};
</script>

<style>

</style>