<template>
<div class="questions grid-x  align-middle  text-center flex-dir-column">
  <div class="cell small-6 flex-child-auto align-middle align-center-middle"><h1>  Pregunta {{Question}} </h1>  </div>
  <div class="cell small-6 flex-child-auto align-self-middle "> <input type="text"> </input> </div>
</div>

</template>

<script>
export default {
  data () {
    return {
      source: 'http://loremflickr.com/80/80'
    };
  },
   computed:{ 
    Question() {
        return this.$store.state.currentQuestion;
    },
  },
};
</script>

<style>

</style>