<template>
  <router-view> </router-view>
</template>

<script>
export default {
  data () {
    return {
      source: 'http://loremflickr.com/80/80'
    };
  },
   computed:{ 
    Question() {
        return this.$store.state.currentQuestion;
    },
  },
};
</script>

<style>

</style>