<template>
  <div class="register-container">
    <div class="loading" v-if="loading">Loading...</div>

    <el-row type="flex" class="row-bg" justify="space-between">
        <el-col :span="6">
          <div class="grid-content bg-purple">
            <el-button type="warning">Mercadopulgas</el-button>
          </div>
        </el-col>
      <el-col :span="6"><div class="grid-content bg-purple">
        <el-button type="success">Iniciar Sesion</el-button>
          </div>
      </el-col>
    </el-row>
    <el-row type="flex" class="row-bg" justify="space-between">
        <el-steps :space="120" :active="active" finish-status="success">
        <el-step title="Usos" icon="menu" ></el-step>
        <el-step title="Tipo" icon="star-off" ></el-step>
        <el-step title="Documento" icon="document" ></el-step>
        <el-step title="nombre" icon="document" ></el-step>
        <el-step title="Tienda" icon="document" ></el-step>
        <el-step title="Datos de Contacto" icon="document"></el-step>
        <el-step title="Contraseña" icon="document" ></el-step>
        </el-steps>
    </el-row>
    <div id="pasos">
        <!--paso 1-->
          <transition :name="transitionName">
            <div id="paso1" class="paso" v-show="active == 0"  v-on:keyup.enter="next">
                    <el-checkbox-group class="opciones" v-model="checkedFeatures" @change="handleCheckedFeaturesChange">
                    <el-checkbox-button key="Comprar"  label="Comprar" class="opcion">
                        <img class="img-responsive" src="/img/vector/untitled.svg">
                        <p>Comprar </p>
                    </el-checkbox-button>

                    <el-checkbox-button key="Vender" class="opcion" label="Vender"  >
                        <img class="img-responsive" src="/img/vector/vender.svg">
                        <p> Vender </p>
                    </el-checkbox-button>
                    
                    <el-checkbox-button key="Tener mi Tienda" class="opcion" label="Tener mi Tienda" >
                        <img class="img-responsive" src="/img/vector/TENERTIENDAMP1.svg">
                        <p> Tener mi Tienda </p>
                    </el-checkbox-button>

                    <el-checkbox-button key="Facturar" class="opcion" label="Facturar">
                        <img class="img-responsive" src="/img/vector/FACTURARMP3SELECT.svg">
                        <p> Facturar </p>
                    </el-checkbox-button>
                    </el-checkbox-group>
                        <el-checkbox  :indeterminate="isIndeterminate" class="checkAll" @change="handleCheckAllChange" v-model="checkAll">Seleccionar Todos</el-checkbox> 
            </div>
          

          </transition>
          
        <!--paso 1-->

         <!--paso 2-->
          <transition :name="transitionName">
            <div id="paso2" class="paso typeUser" v-show="active == 1">
              <h3> ¿ Persona Natural O Juridica ? </h3>
              <el-radio-group v-model="form.typeUser" class="typeUserOptions">
                <el-radio-button class="typeUserOption"  label="cedula">
                  <img class="img-responsive" src="/img/vector/personn.svg">
                  <p> Natural </p>
                </el-radio-button>
               <el-radio-button  class="typeUserOption" label="rif">
                 <img class="img-responsive" src="/img/vector/personj.svg">
                  <p> Juridico </p>
               </el-radio-button>
              </el-radio-group>
            </div>
          </transition>
        <!--paso 2-->

        <!--paso 3-->
          <transition :name="transitionName">
            <div id="paso3" class="paso typeUser" v-show="active == 2">
              <h3> ¿ Por favor ingrese su documento de identidad ? </h3>
              <el-form :inline="true"  class="demo-form-inline">
                <el-form-item>
                  <div v-if="form.typeUser === 'Natural'">
                    <el-select v-model="form.documentType" placeholder="V" size="large" >
                      <el-option label="V" value="V"></el-option>
                      <el-option label="E" value="E"></el-option>
                    </el-select>
                  </div>
                  <div v-else>
                  <el-select v-model="form.documentType" placeholder="V" size="large" >
                    <el-option label="V" value="V"></el-option>
                    <el-option label="E" value="E"></el-option>
                    <el-option label="J" value="J"></el-option>
                  </el-select>
                  </div>
                </el-form-item>
                <el-form-item > 
                   <el-input v-model="form.documentNumber" size="large"  type="number" placeholder="00000000"></el-input>
                </el-form-item>
                <el-form-item > Su nombre Es
                   <el-input size="large"  type="text" readonly placeholder="Por favor Presiona Consultar" :value="form.name">{{form.name}}</el-input>
                  <el-button  style="margin-top: 12px;"  @click="fetchVehicles()" type="primary">Consultar Documento<i class="el-icon-arrow-right el-icon-right"></i></el-button>
                </el-form-item>
              </el-form>
            </div>
          </transition>
        <!--paso 3-->

        <!--paso 4-->
          <transition :name="transitionName">
            <div id="paso4" class="paso typeUser" v-show="active == 3">
              <h3> Bienvenido </h3>
              <el-input v-model="form.name" size="large"></el-input>
              <p> {{form.name}}</p>
            </div>
          </transition>
        <!--paso 4-->
    </div>
    </el-row>
        <el-row type="flex" class="row-bg" justify="space-between">
        <el-button style="margin-top: 12px;"  :disabled = "active == 0" @click="step(-1)" type="primary" icon="arrow-left">Pregunta Anterior</el-button>
        <el-button  style="margin-top: 12px;" :disabled = "consulted"  @click="step(1)" type="primary">{{NextText}}<i class="el-icon-arrow-right el-icon-right"></i></el-button>
        </el-row>

    
  </div>
</template>



<script>
import axios from 'axios';
 const featuresOptions = [ 'Comprar', 'Vender', 'Tener mi Tienda','Facturar'];
 export default {
    data() {
      return {
        loading: false,
        active: 0,
        e1: 0,
        NextText: 'Siguiente Pregunta o Presiona Enter',
        checkAll: true,
        checkedFeatures : ['Comprar', 'Vender'],
        features: featuresOptions,
        isIndeterminate: true,
        finish: false ,
        start: true,
        consulted:false,
        transitionName: 'slide-left',
        form: {
          typeUser: 'cedula',
          documentType: 'V',
          documentNumber: '',
          name:'',
          buy:1,
          sell:1,
          shop:0,
          ticket:0,
        }

      };
    },
    methods: {
      beforeRouteUpdate: function (to, from, next) {
    // const toDepth = to.path.split('/').length
    // const fromDepth = from.path.split('/').length
    this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left'
    // next()
      },
       fetchVehicles: function()
        {
          this.loading = true;
          if(this.form.documentNumber == "" ||   this.form.documentNumber.length < 6) {alert("Es necesario el campo Cedula"); return false}
          axios.get('/api/consulta/'+this.form.typeUser+'/'+this.form.documentType+'/'+this.form.documentNumber)
                .then((response) => {
                  console.log(response.data.error);
                  // J302406641


                  // poner condicionales de si esta vacio (el campo de cedula)
                  // poner condicionales de si esta muerto
                  // poner condicionales de si esta no se encuentra el usuario
                  // poner condicionales de si esta no se encuentra el rif
                  // poner campo checkeado por nombre
                  // en caso de checkeado es name normal
                  // pero en casod e supposedname en caso de que ingrese como 
                  // no seran todos podria ser clave foranea posteriormente
                  // https://commons.wikimedia.org/wiki/File%3AIcons8_flat_shop.svg
                  this.loading = false
                  this.consulted = false
                  console.log(response.data);
                  this.form.name = response.data.nombre;
                })
                .catch((error) => {
                    console.log(error);
                });
          },
       step(step) {
         console.log(step)
        if(step == 1){
          this.transitionName= 'slide-left';
          if (this.active++ > 7) {this.finish = true;}
          else { this.start= false; }
          if (this.active == 2) { this.consulted = true; }
          if (this.active == 3) {
            if(!this.consulted) { }
            else { this.fetchVehicles() } 
            }
          }
          else if(step == -1){
            this.transitionName= 'slide-right';
             this.consulted=false;
              if (this.active == 0 ) return false;
              if (this.active-- < 2) this.start = true;
          }
      },
       handleCheckAllChange(event) {
        this.checkedFeatures     = event.target.checked ? featuresOptions : [];
        this.isIndeterminate = false;
      },
      handleCheckedFeaturesChange(value) {
        let checkedCount = value.length;
        this.checkAll = checkedCount === this.features.length;
        this.isIndeterminate = checkedCount > 0 && checkedCount < this.features.length;
      }
    },
      mounted () {
      document.addEventListener("keydown", (e) => {
        if (e.keyCode == 13) { this.next(); }
      });
    }

  }
</script>

<style>

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
.paso {
  transition: all .5s cubic-bezier(.55,0,.1,1);
}
.slide-left-enter, .slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(30px, 0);
  transform: translate(30px, 0);
}
.slide-left-leave-active, .slide-right-enter {
  opacity: 0;
  -webkit-transform: translate(-30px, 0);
  transform: translate(-30px, 0);
}

.loading {
  position: absolute;
  top: 10px;
  right: 10px;
}
#pasos{margin:1vh; height: 75vh;}
.register-container{height: 100vh;}
#paso1{ height: 100%; }
.opciones { 
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.opcion{
    width: 50%;
    /*height: 45%;
    */
    height: 30vh;
    text-align: center;
}
.checkAll{ 
    width: 100%;
    text-align: center;
}
.img-responsive{

}
.el-checkbox-button__inner{height: 100%;}
</style>

<style>
#paso2{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;   /*background-color: red;*/
    flex-direction: column;
}


.typeUserOptions {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.typeUserOption {
    width: 30vh;
    height: 30vh;
}
.img-responsive{
  width: 100%;
}
</style>

<style>
.el-input--large{

}

.el-form.demo-form-inline.el-form--inline {
    display: flex;
    justify-content: center;
    height: 68%;
}

</style>
