<template>
  <div class="register-container">
    <steps class="steps"  :currentQuestion="currentQuestion" :primary="primary" :secondary="secondary"></steps>
    <questions class="questions"></questions>
    <options class="options"></options>
  </div>
</template>

<script>
import Steps from './Steps.vue';
import Questions from './Questions.vue';
import Options from './Options.vue';
export default {
   data () {
    return {
      primary:"primary",
      secondary:"secondary",
      source: 'http://loremflickr.com/80/80',
    };
  },
  methods: {
       
     }, 
     computed: {
       cantidad() {
       return this.$store.state.cantidad;
      },
       currentQuestion() {
       return this.$store.state.currentQuestion;
       },
     },
    components: { Steps, Questions,Options }

};
</script>

<style>
.register-container {
    min-height: 100vh;
}
.steps{ height: 20vh;}
.options{ height: 20vh;}
.questions{ height: 60vh;}

</style>