<template>
<div class="grid-x grid-margin-x">
  <div class="auto cell"> 
    <router-link to="/q1" @click="SetQuestion(0)" active-class="activo" tag="li" exact>
      <a class="button primary"  :class="{ secondary: currentQuestion != 0 }" href="#">Hacer</a>
    </router-link> 
  </div>

  <div class="auto cell"> 
    <router-link to="/q2" @click="SetQuestion(1)" active-class="activo" tag="li" exact >
    <a class="button primary"  :class="{ secondary: currentQuestion != 1 }" href="#">Tipo</a> 
    </router-link>
    </div>
  <div class="auto cell"> 
    <router-link to="/q2" @click="SetQuestion(2)" active-class="activo" tag="li" exact >
    <a class="button primary"  :class="{ secondary: currentQuestion != 2 }" href="#">Documento</a> 
    </router-link>
    </div>
  <div class="auto cell"> 
    <router-link to="/q2" @click="SetQuestion(3)" active-class="activo" tag="li" exact >
    <a class="button primary"  :class="{ secondary: currentQuestion != 3 }" href="#">Nombre</a> 
    </router-link>
    </div>
  <div class="auto cell"> 
    <router-link to="/q2" @click="SetQuestion(4)" active-class="activo" tag="li" exact >
    <a class="button primary"  :class="{ secondary: currentQuestion != 4 }" href="#">Correo</a> 
    </router-link>
    </div>
  <div class="auto cell"> 
    <router-link to="/q2" @click="SetQuestion(5)" active-class="activo" tag="li" exact >
    <a class="button primary"  :class="{ secondary: currentQuestion != 5 }" href="#">Clave</a> 
    </router-link>
    </div>
  <div class="auto cell"> 
    <router-link to="/q2" @click="SetQuestion(6)" active-class="activo" tag="li" exact >
    <a class="button primary"  :class="{ secondary: currentQuestion != 6 }" href="#">Celular</a> 
    </router-link>
    </div>
  <div class="auto cell"> 
    <router-link to="/q2" @click="SetQuestion(7)" active-class="activo" tag="li" exact >
    <a class="button primary"  :class="{ secondary: currentQuestion != 7 }" href="#">Acepto</a> 
    </router-link>
    </div>
</div>
</template>

<script>
  export default {
    props: ['currentQuestion'],
    data: function () {
      return {
        counter: 0
      }
    },
    methods: {
        SetQuestion: function (currentQuestion) {
            // this.currentQuestion = currentQuestion;
            var route = "/Q"+ currentQuestion;
            router.push(route);
          return this.$store.state.currentQuestion = currentQuestion;
        },
    },
  };
</script>
<style> 
  .profile-picture {
      border: 3px solid #fff;
      border-radius: 50%;
      float: right;
      width: 80px;
  }
  .mobile-app-toggle {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border: 1px solid #1779ba;
    border-radius: 0.625rem;
    overflow: hidden;
    margin-bottom: 1rem;
  }
</style>