body {
    height: 100%;
    width: 100%;
    background: #ffffff;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #252525;
    font-weight: 400;
}


.box {
    height: 640px;
    display: block;
    position: relative;
    background: #ffffff;
    overflow: hidden;
}

.box>div {
    height: 81%;
    transition: all 2s ease;
    background-position: 0 0%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 5px 10px 0;
}

.box>div a {
    display: block;
    height: 100%;
    width: 100%;
}

.box2 {
    margin: 0;
}

.box1-inner {
    background-image: url("../images/home-v1.jpg");
}

.box2-inner {
    background-image: url("../images/home-v2.jpg");
}

.box3-inner {
    background-image: url("../images/home-v3.jpg");
}

.box4-inner {
    background-image: url("../images/home-v4.jpg");
}

.box>div:hover {
    background-position: 0 100%;
}

.box h3 {
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    color: #545454;
    text-transform: capitalize;
    font-weight: 400;
    margin: 30px auto 0;
}

@media screen and (max-width: 768px) {
    .box {
        height: 550px;
        width: 92%;
        margin: 0 4% 30px;
        float: none;
    }
}

.feature {
    background: #fafbfc;
    padding-top: 70px;
    width: 100%;
    float: left;
}

.feature-box {
    margin-bottom: 70px;
}

.feature-box span {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 50%;
    border: 1px solid #d5d5d5;
    margin: 0 auto 15px;
}

.feature-box span img {
    display: inline-block;
    max-width: 100%;
    padding-top: 36px;
}

.feature-box p {
    font-size: 15px;
    color: #545454;
    margin: 0;
}

.promotionWrapper {
    width: 100%;
    float: left;
    padding: 80px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.sectionTitle span {
    font-size: 90px;
    line-height: 90px;
    color: #47bac1;
    font-weight: 700;
    display: block;
}

.sectionTitle h2 {
    font-family: 'Oxygen', sans-serif;
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
    width: 100%;
    font-weight: 700;
    margin-bottom: 60px;
}