// ----------------------------------------------------
// general styles
// ----------------------------------------------------

#app{
    min-height:92vh;
}

// --- general styles

// ----------------------------------------------------
// header
// ----------------------------------------------------

.navbar{
    &-header{
        // input de busqueda
        &-search{
            .form-group{
                margin-bottom: 0px;
                margin-top: 7px;
            }
            .form-control{
                border: 2px solid $brand-primary;
            }
        }
        // optiones de usuario
        &-options{
            font-weight: 700;
            margin-top: 8px;
            @media screen and (min-width: $screen-sm){
                li{
                    border-right: 2px solid $brand-primary;
                    &:last-child{
                        border-right:none;
                    }
                    // quita el border estando logeado
                    &.dropdown{
                        li{
                            border-right: 0;
                        }
                    }
                }
            }
        }
    }
}

// --- header


// ----------------------------------------------------
// Sections
// ----------------------------------------------------

// ----------------------------------------------------
// banner-index

.banner{
    img{
        width: 100%;
    }
}

// -- banner-index

// ----------------------------------------------------
// categories-index

.categories{
    &__title{
        &-section{
            text-align: center;
            font-weight: 700;
        }
        &-list{
            font-weight: 700;
        }
    }
    &-list{
        list-style-type: none;
        padding-left: 0;
        column-count: 4;
        font-weight: 700;
    }
}

// -- categories-index

// ----------------------------------------------------
// Register

.register{
    min-height: 100vh;
    background-image: url('../img/mercadopulgas-register-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    &>.container{
        position: relative;
        min-height:100vh;
    }
    &__content{
        position: absolute;
        bottom: 7rem;
        left: 5rem
    }
    &__text{}
    &__button{
        margin-left: 5rem;
        font-size: 1.5em;
        font-weight: 700;
        padding: 0.3rem 1rem;
    }
}

// -- register 

// ----------------------------------------------------
// payments

.payments{
    &__wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
// -- payments 

// ----------------------------------------------------
// footer

.footer{
    background-color: $gray-lighter;
    @extend .container-fluid;
    &__text{
        @include make-sm-column(9);
    }
    &__copyright{}
    &__navigation{
        list-style-type:none;
        padding-left: 0;
        li{
            display:inline;
            padding: 0 1em;
            border-right: 1px solid $brand-primary;
            &:first-child{
                padding-left:0;
            }
            &:last-child{
                border-right:none;
            }
        }
    }
    &__app_link{
        @include make-sm-column(3);
        margin-top:-10px;
        img{
            @include center-block();
        }
    }
}
// -- footer 

// --- Sections

// ----------------------------------------------------
// Components
// ----------------------------------------------------

// ----------------------------------------------------
// Card
.card{
    width: 350px;
    margin: 0 15px 2em; 
    &__header{
        background-color: $brand-primary;
        border-radius: .5em;

        font-size: 3em;
        color: $body-bg;
        text-align: center;
    }
    &__text{
        font-size: 1.2em;
    }
    &__img img{
        display: block;
        margin: auto;
        height: 150px;
        width: auto;
    }
}
// -- Card

// --- Components 

